.container-checkbox {
    position: relative;
    cursor: pointer;
    font-size: 22px;
}
.checkbox {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 21px;
    width: 21px;
    background-color: #eee;
    border: 2px solid #0000008a;
    border-radius: 4px;
}

.container-checkbox:hover .checkbox ~ .checkmark {
    background-color: #ccc;
}

.container-checkbox .checkbox:checked ~ .checkmark {
    background-color: #6200eeff;
    border: 2px solid #6200eeff;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.checkbox:checked ~ .checkmark:after {
    display: block;
}

.checkmark:after {
    left: 7.5px;
    top: 2px;
    width: 6px;
    height: 12px;
    border: solid white;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}