.container-textField {
    position: relative;
    width: 280px;
    height: 56px;
    margin: auto;
}

.input-textField {
    padding: 0px 12px;
    font-size: 16px;
    position: absolute;
    left: 0px;
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    border-bottom: 1px solid #00000a;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    transition: 300ms;
    background-color: #1e1e1f33;
}

.control-placeholder {
    position: absolute;
    top: 16px;
    left: 0px;
    padding: 0px 12px;
    transition: 300ms;
    opacity: 1;
    font-size: 16px;
}

.input-textField:focus + .control-placeholder {
    font-size: 12px;
    color: #6200ee;
    transform: translateY(-100%);
    opacity: 1;
}

.input-textField:valid + .control-placeholder {
    font-size: 12px;
    transform: translateY(-100%);
    opacity: 1;
}

.input-textField ~ .focus-border {
    position: absolute; 
    bottom: -2px; 
    left: 151px; 
    width: 0px; 
    height: 2px; 
    transition: 0.4s;
}
.input-textField:focus ~ .focus-border {
    width: 304px; 
    transition: 0.4s; 
    left: 0;
    background-color: #6200ee; 
}