.container-radio {
  position: relative;
  cursor: pointer;
}

.div-radio {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-radioButton1 {
  margin-right: -48px;
}

.radioButton {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark-radio {
  position: absolute;
  height: 16px;
  width: 16px;
  background-color: #eee;
  border-radius: 50%;
  border: 2px solid #00000089;
}

.container-radio:hover .radioButton ~ .checkmark-radio {
  background-color: #ccc;
}

.container-radio .radioButton:checked ~ .checkmark-radio {
  background-color: #eee;
  border: 2px solid #6200eeff;
}

.checkmark-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.radioButton:checked ~ .checkmark-radio:after {
  display: block;
}

.checkmark-radio:after {
  left: 3px;
  top: 3px;
  width: 10.5px;
  height: 10.5px;
  border-radius: 50%;
  background: #6200eeff;
  transition: all 2s;
}