.switch {
    position: relative;
    width: 36px;
    height: 20px;
    appearance: none;
    background-color: #c6c6c6;
    outline: none;
    border-radius: 20px;
    box-shadow: inset 0 0 5pc rgb(0, 0, 0, .2);
    transition: .5s;
}

.switch:checked {
    background-color: #6200ee89;
}

.switch::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    top: 0;
    left: 0;
    background-color: #ffffff;
    transform: scale(1.1);
    box-shadow: 0 2px 5px rgba(0, 0, 0, .2);
    transition: .5s;
}

.switch:checked::before {
    left: 16px;
    background-color: #6200eeff
}